/*
!inet
inet/*
!inet/examples
inet/examples/*
!inet/examples/basicfloodprot
inet/examples/basicfloodprot/results

!inet/src
inet/src/*
!inet/src/inet
inet/src/inet/*
!inet/src/inet/applications
inet/src/inet/applications/*
!inet/src/inet/applications/basicfloodprot